{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section "Introduction"}}
    {{nav.item "What is ember-selects?" "docs.index"}}
    {{nav.item "Quickstart" "docs.quickstart"}}
    {{nav.item "Customization" "docs.customization"}}
    {{nav.item "Treeshaking" "docs.treeshaking"}}

    {{nav.section "Patterns"}}
    {{nav.item "Native Select" "docs.patterns.native"}}
    {{nav.item "Custom Options" "docs.patterns.custom-options"}}
    {{nav.item "Timepicker" "docs.patterns.time-picker"}}
    {{nav.item "Multiple selections" "docs.patterns.multiple-selections"}}
    {{nav.item "Autocomplete" "docs.patterns.autocomplete"}}
    {{nav.item "Action Menus" "docs.patterns.action-menu"}}
    {{nav.item "Stand-alone select" "docs.patterns.standalone-select"}}
    
    {{nav.section "Components"}}
    {{nav.item "{{select-listbox}}" "docs.components.select-listbox"}}
    {{nav.item "{{select-combobox}}" "docs.components.select-combobox"}}
    {{nav.item "{{select-menu}}" "docs.components.select-menu"}}
    {{nav.item "{{select-native}}" "docs.components.select-native"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}